@media (min-width: 768px) { 
    #footer-right{
        text-align: right;
     }
     #footer-center{
        text-align: center;
     }
     #footer-left{
        text-align:left;
     }
}

@media (min-width: 992px) { 
     #footer-center{
        border-right: 1px solid black;
     }
     #footer-left{
        border-right: 1px solid black;
     }
}

 @media (max-width: 768px) { 
    #footer-right{
        text-align: left;
     }
     #footer-center{
        text-align: left;
        border-bottom: 1px solid black;
     }
     #footer-left{
        text-align: left;
        border-bottom: 1px solid black;
     }
}